* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.parent {
    max-width: 100%;
    max-height: 100%;
}

label {
    font-size: 16px;
}

p {
    font-size: 16px;
    margin: 10px;
}

.logo {
    background: url("assets/bg.png");
    background-size: contain;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.container {
    position: absolute;
    right: 10px;
    margin-right: 10%;
    margin-top: 8%;
    background-color: rgba(198, 152, 241,0.8);
    padding: 25px;
    height: 500px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(124, 84, 84, 0.5);
    z-index: 1;
}

.container h1 {
    text-align: center;
}

table {
    height: 100%;
    width: 100%;
    border: 5px solid transparent;
}


td{
    margin: 10px;
    padding: 10px;
    width: min-content;
}


input[type="text"],
input[type="email"],
input[type="phone"],
input[type="number"], select {
    width: 100%;
    font-size: 15px;
    padding: 4px;
    margin: 3px 0;
    border: 1px solid #3c3131;
    border-radius: 4px;
}

input[type=submit] {
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: 5px;
    border-radius: 5px;
}